ip              127.0.0.1
port            7777
thread_num      4
task_num        10000
video_path      ./data/
log_file        ./log/server.log

#=====================
#   MySQL 配置 
#=====================

mysql_host          127.0.0.1
mysql_port          3306

#示例账号
#实际开发时请在server.conf 当中填写
mysql_user          CHANGE_ME

#禁止再此文件当中提交真实的密码
mysql_password      CHANGE_ME

mysql_database      smarthome
